# nginx-proxy's virtual-host setting
VIRTUAL_HOST=PUT_GITLAB_HOST_HERE

# GitLab settings
GITLAB_HOST=PUT_GITLAB_HOST_HERE
GITLAB_CREATE_GROUP=false
GITLAB_PROJECTS_ISSUES=false
GITLAB_PROJECTS_WIKI=false
GITLAB_BACKUPS=daily
GITLAB_SSH_HOST=PUT_GIT_HOST_HERE
