# nginx-proxy's virtual-host setting
VIRTUAL_HOST=gitlab.example.com

# GitLab settings
GITLAB_HOST=gitlab.example.com
GITLAB_CREATE_GROUP=false
GITLAB_PROJECTS_ISSUES=false
GITLAB_PROJECTS_WIKI=false
GITLAB_BACKUPS=daily
GITLAB_SSH_HOST=git.example.com
